.parent {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  margin-top: -60px;
}

.left-div {
  width: 300px;
  height: 80vh;
  margin: 150px 50px;
  background-color: #4250af;
  box-shadow: 2px 2px 55px -7px rgba(26, 19, 19, 0.83);
  -webkit-box-shadow: 2px 2px 55px -7px rgba(26, 19, 19, 0.83);
  -moz-box-shadow: 2px 2px 55px -7px rgba(26, 19, 19, 0.83);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-parent {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.image-child {
  width: 200px;
  height: 200px;
  object-fit: cover;
  opacity: 0.8;
  cursor: pointer;
}

.name {
  color: #ddd;
  margin-top: 20px;
  font-size: 18px;
  text-transform: capitalize;
}

.right-div {
  width: 900px;
  height: 80vh;
  margin: 150px 0;
  background-color: #ddd;
  box-shadow: -9px 2px 35px -15px rgba(26, 19, 19, 0.83);
  -webkit-box-shadow: -9px 2px 35px -15px rgba(26, 19, 19, 0.83);
  -moz-box-shadow: -9px 2px 35px -15px rgba(26, 19, 19, 0.83);
}

.heading-side {
  width: 100%;
  height: 10%;
  padding: 30px 10px;
  text-align: center;
  background-color: #969fdb;
  font-size: 20px;
}

.right-body {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rbc {
  background-color: rgb(241, 237, 237);
  width: 500px;
  height: 500px;
}

.change-photo {
  background-color: rgba(0, 0, 0, 0.742);
  color: #fff;
  position: absolute;
  top: 60%;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition: all 1s ease;
}
.change-photo:hover {
  opacity: 1;
}

.image-parent:hover .change-photo {
  opacity: 1;
}

.upload-btn-profile {
}
